<link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<!-- Alternate Google Webfonts -->
		<!-- //@import url(href='http://fonts.googleapis.com/css?family=Arvo:400,700');
		//@import url(href='http://fonts.googleapis.com/css?family=Fredericka+the+Great');
		//@import url(href='http://fonts.googleapis.com/css?family=Bree+Serif');
		<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'> 
		<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'> -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
      	<li><a href="#home">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#press">PRESS</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div><!-- /.navbar-collapse-->
  </div>
</nav>

<div class="slide1" id="home">
	<div style="height: 200px">
	</div>
		<h1 class="bandname">THE NATIONAL EXPUNGEMENT PROJECT</h1>
			<div class="subheading"><b>
				CLICK, CLICK, CLEAN SLATE</b>
			</div>	
			<h3 id="about" class="titletext" style="color: #fff; font-size: 23px;">Building innovative solutions that increase access to expungement.</h3>
</div>
	
	<div class="container">
	  <div class="row">
			<div class="col-md-12">

	  		<div><h3 class="titletext" style="color: #0b7b5f; border-bottom: 2px solid #0b7b5f; padding: 0 0 3px 0;">WE NEED NEW TOOLS</h3>
	  		<br>
			</div> 
		</div>
	</div>
	

	<div class="container" style="background-color: black;">
	  <div class="row">
					
			<div class="col-md-3" style="background: #0b7b5f; padding: 45px 15px;">
				<div class="paneltext" style="color: white;">
					The Problem<br>
					<i class="fa fa-lock" style="font-size: 160px; color: black;"></i><br>
					77.7 million Americans have a criminal record––a barrier to helping themselves.
				</div>
			</div>

			<div class="col-md-3" style="background: black; padding: 45px 15px;">
				<div class="paneltext" style="color: white;">
					The Hurdles<br>
					<i class="fa fa-exclamation-triangle" style="font-size: 120px; color: white; padding: 15px 0px 25px 0px;"></i><br>
					Expungement is inaccessible due to cost & complexity; online help is dismal.
				</div>
			</div>

			<div class="col-md-3" style="background: #0b7b5f; padding: 44px 15px;">
				<div class="paneltext" style="color: white;">
					The Solution<br>
					<i class="fa fa-key" style="font-size: 160px; color: black;"></i><br>
					Create community- driven, online resources to improve access to expungement.
				</div>
			</div>

			<div class="col-md-3" style="background: black; padding: 54px 15px;">
				<div class="paneltext" style="color: white;">
					The Impact<br>
					<i class="fa fa-gavel" style="font-size: 160px;"></i><br>
					Increase expungements; collect novel data; & lead national discussion.
				</div>
			</div>
		</div>  
	</div> 

<br>

	<div class="container">
	  <div class="row">
			<div class="col-md-12">

	  		<div><h3 class="titletext" style="color: #0b7b5f; border-bottom: 2px solid #0b7b5f; padding: 0 0 3px 0;">EXPUNGEMARYLAND</h3>
	  		<br>
			</div> 
		</div>
	</div>

<div class="container">
	  <div class="row">
			<div class="col-md-6">
				
					<%= image_tag "graph.png" %>
			
			</div>

			<div class="col-md-1">
			</div>

			<div class="col-md-4" style="border-left: 2px solid #0b7b5f;">
					<div class="paneltext" style="padding-left: 75px;">
					<%= image_tag "referrals.png" %>
					</div>
			</div>
		</div>
</div>

<div class="container">
	  <div class="row">
			<div class="col-md-12">

	  		<div><h3 class="titletext" style="color: #0b7b5f; border-bottom: 2px solid #0b7b5f; padding: 0 0 3px 0;">NATIONAL IMPACT</h3>
	  		<br>
			</div> 
		</div>
	</div>
</div>

<div class="container">
	  <div class="row">
			<div class="col-md-3">
				<div class="paneltext" style="color: #0b7b5f; font-size: 42px;">

					<br>TEST<br><br>
					<span style="color: white; font-size: 22px;">4 Models<br><br></span>
					<%= image_tag "and.png" %><br><br>
					SCALE<br><br>
					<span style="color: white; font-size: 22px; line-height: 4px;">21 States<br>+<br>Open Source the Models for Everyone</span><br><br><br><br>

				</div>
			</div>


			<div class="col-md-9">
					<div class="paneltext" style="padding-left: 75px;">
						<%= image_tag "states.png" %><br>
						Bring the National Expungement Project to your State!<br><br>ExpungeProject.org
					</div>
			</div>
		</div>
</div>

<div id="press" class="container">
	  <div class="row">
			<div class="col-md-12">

	  		<div><h3 class="titletext" style="color: #0b7b5f; border-bottom: 2px solid #0b7b5f; padding: 0 0 3px 0;">PRESS</h3>
	  		<br>
			</div> 
		</div>
	</div>
</div>

<div style="color: white;">
	ABA Journal -- <i><a target="_blank" href="http://www.abajournal.com/magazine/article/wipe_out_new_app_helps_people_expunge_their_records">New app helps people expunge their criminal records</i></a><br>
	ABA Journal -- <a target="_blank" href="http://www.abajournal.com/news/article/legal_hackers_explain_how_coding_can_enhance_the_practice_of_law/"><i>Legal hackers use coding to help users navigate law's intricacies and find solutions</i></a><br>
	Technical.ly Baltimore -- <a target="_blank" href="http://technical.ly/baltimore/2014/07/25/expungemaryland-expunge-erase-criminal-records-baltimore/"><i>Why ExpungeMaryland.org is helping people erase their criminal records</i></a><br>
	Hack Baltimore -- <a target="_blank" href="http://hackbaltimore.org/can-civic-tech-expunge-your-criminal-record/"><i>Can civic tech expunge your criminal record?</i></a><br>
	WYPR -- <a target="_blank" href="http://warnockfoundation.org/radio/baltimore-future-on-wypr-jason-tashea/"><i>Baltimore's Future</i></a><br>
	Technical.ly Baltimore -- <a target="_blank" href="http://technical.ly/baltimore/2014/09/03/nominees-2nd-annual-baltimore-innovation-awards/"><i>Nominees for 2nd Annual Baltimore Innovation Awards</i></a><br>
	Baltimore Sun -- <a target="_blank" href="http://www.baltimoresun.com/news/opinion/oped/bs-ed-expungements-20140813-story.html"><i>No conviction? Erase the Record</i></a><br>
	National Juvenile Justice Network -- <a target="_blank" href="http://www.njjn.org/article/new-web-based-tool-determines-eligibility-for-record-expungement-in-il-md-and-la?utm_source=NJJN+News%3A+Web+Tools+for+Clearing+Juvenile+Records+Launched+by+IL%2C+MD%2C+LA&utm_campaign=Oct-6-2014-Newsletter&utm_medium=email"><i>New Web-Based Expungement Tools Launched by IL, MD, LA</i></a><br>

</div>



<div id="contact" class="container">
	  <div class="row">
			<div class="col-md-12">

	  		<div><h3 class="titletext" style="color: #0b7b5f; border-bottom: 2px solid #0b7b5f; padding: 0 0 3px 0;">CONTACT</h3>
	  		<br>
	  		<h3 class="titletext" style="color: #fff; font-size: 23px;">contact@ExpungeProject.org</h3><br><br><br>
	  		<br><br><br><br><br><br><br><br><br><br><br><br>
			</div> 
		</div>
	</div>
</div>




