<link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<!-- Alternate Google Webfonts -->
		<!-- //@import url(href='http://fonts.googleapis.com/css?family=Arvo:400,700');
		//@import url(href='http://fonts.googleapis.com/css?family=Fredericka+the+Great');
		//@import url(href='http://fonts.googleapis.com/css?family=Bree+Serif');
		<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'> 
		<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'> -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
      	<li><a href="#home">HOME</a></li>
        <li><a href="#music">ABOUT</a></li>
        <li><a href="#email">PRESS</a></li>
        <li><a href="#otherMedia">CONTACT</a></li>
      </ul>
    </div><!-- /.navbar-collapse-->
  </div>
</nav>

<div class="slide1" id="home">
	<div style="height: 200px">
	</div>
		<h1 class="bandname">THE NATIONAL EXPUNGEMENT PROJECT</h1>
			<div class="subheading"><b>
				CLICK, CLICK, CLEAN SLATE</b>
			</div>	
			<h3 class="titletext" style="color: #fff; font-size: 23px;">Building innovative solutions that increase access to expungement.</h3>
</div>

	<div class="container">
	  <div class="row">
			<div class="col-md-12">

	  		<div id="music"><h3 class="titletext" style="color: #0b7b5f; border-bottom: 2px solid #0b7b5f; padding: 0 0 3px 0;">WE NEED NEW TOOLS</h3>
	  		<br>
			</div> 
		</div>
	</div>

	<div class="container" style="background-color: black;">
	  <div class="row">
					
			<div class="col-md-3" style="background: #0b7b5f; padding: 45px 15px;">
				<div class="paneltext" style="color: white;">
					The Problem<br>
					<i class="fa fa-lock" style="font-size: 160px; color: black;"></i><br>
					77.7 million Americans have a criminal record––a barrier to helping themselves.
				</div>
			</div>

			<div class="col-md-3" style="background: black; padding: 45px 15px;">
				<div class="paneltext" style="color: white;">
					The Hurdles<br>
					<i class="fa fa-exclamation-triangle" style="font-size: 120px; color: white; padding: 15px 0px 25px 0px;"></i><br>
					Expungement is inaccessible due to cost & complexity; online help is dismal.
				</div>
			</div>

			<div class="col-md-3" style="background: #0b7b5f; padding: 44px 15px;">
				<div class="paneltext" style="color: white;">
					The Solution<br>
					<i class="fa fa-key" style="font-size: 160px; color: black;"></i><br>
					Create community- driven, online resources to improve access to expungement.
				</div>
			</div>

			<div class="col-md-3" style="background: black; padding: 54px 15px;">
				<div class="paneltext" style="color: white;">
					The Impact<br>
					<i class="fa fa-gavel" style="font-size: 160px;"></i><br>
					Increase expungements; collect novel data; & lead national discussion.
				</div>
			</div>
		</div>  
	</div> 

<br>

	<div class="container">
	  <div class="row">
			<div class="col-md-12">

	  		<div id="music"><h3 class="titletext" style="color: #0b7b5f; border-bottom: 2px solid #0b7b5f; padding: 0 0 3px 0;">EXPUNGEMARYLAND</h3>
	  		<br>
			</div> 
		</div>
	</div>

<div class="container">
	  <div class="row">
			<div class="col-md-6">
				
					<%= image_tag "graph.png" %>
			
			</div>

			<div class="col-md-1">
			</div>

			<div class="col-md-4" style="border-left: 2px solid #0b7b5f;">
					<div class="paneltext" style="padding-left: 75px;">
					<%= image_tag "referrals.png" %>
					</div>
			</div>
		</div>
</div>

<div class="container">
	  <div class="row">
			<div class="col-md-12">

	  		<div id="music"><h3 class="titletext" style="color: #0b7b5f; border-bottom: 2px solid #0b7b5f; padding: 0 0 3px 0;">NATIONAL IMPACT</h3>
	  		<br>
			</div> 
		</div>
	</div>






