// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  @font-face {
        font-family: 'Metropolis1920';
        //src: url(/assets/Metropolis1920-Regular.otf) format("truetype");
        src: font-url("Metropolis1920.otf");
        src: font-url("Metropolis1920.otf") format('truetype');
        font-weight: normal;
        font-style: normal;
    }

.black{
    background-color:#000000;
    height:400px;
    color:#FFFFFF;
  }
  
  .grey{
      
      background-color:#5E5E5E;
   height:400px;
  color:#FFFFFF;
    }

body {
   background: #eee8db !important;
}

	.navbar-nav {
	    //margin: 0 auto;
	    //border-top: 4px solid white; 
	    //border-bottom: 4px solid white;
	    background-image: none;
	    
	    font-family: 'Source Sans Pro', sans-serif; font-weight: bold !important; 
	}

@media ( min-width: 768px ) { 
    .navbar > .container {
        text-align: center;    
    }
    .navbar-header,.navbar-brand,.navbar .navbar-nav,.navbar .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .collapse.navbar-collapse {
        width: auto;
        clear: none;     
    }
}

#mytext {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.bandname {
	position: relative;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif; font-weight: bold !important;
  font-size: 80px !important;
  color: #fff;
  line-height: 80px;
  
	@media (max-width: 563px){
  	font-size: 50px !important;
  	line-height:50px;
  }
  @media (max-width: 361px){
  	font-size: 35px !important;
  }
 // 	}  

//  @media (max-width: 700px){
//  	line-height: 60px;
//  	font-size: 33px !important;
  	//transform: translateY(-480%);
  	//-webkit-transform: translateY(-80%);
//  }
}

.slide1 {
	background-image: image-url("states6.png");
	background-repeat: repeat-y;
	background-size: 200%;
	background-attachment: fixed;
	background-color: #eac634;
	//padding-top:0px;
  //margin-top: -20px;
	height: 700px;
	
  @media screen and (max-width: 550px) {
    //background-image: url('pipe2.jpg');
    background-size: 1000px;
  }
}

.subheading {
	font-family: 'Source Sans Pro', sans-serif; font-weight: normal !important;
	color: #fff;
	//font-family: 'Tangerine', cursive;
	//font-weight: 400;
	font-size: 38px;
	line-height: 35px;
	letter-spacing: 1px;
	position: relative;
		@media (max-width: 700px){
		font-size: 23px !important;
		
		}
}


.titletext {
	font-family: 'Source Sans Pro', sans-serif; font-weight: bold !important;
	font-weight: 700;
	font-size: 36px;
	line-height: 28px;
	position: relative; //necessary for partial underline effect
	//color: #988c73;
	color: #000;
}

.paneltext {
	font-family: 'Source Sans Pro', sans-serif; font-weight: 300 !important;
	font-size: 18px;
	color: #30353b;
	line-height: 28px;
	background: #eee8db;
	text-align: justify;
	
}


.bodytext {
	font-family: 'Source Sans Pro', sans-serif; font-weight: normal !important;
	color: grey;
}


.slide2 {
	height: 500px;
}

.slide3 {
	height: 400px;
	background-image: url('lightgreen.png');
	background-repeat: repeat;
	font-color: #30353b;
	background-size: 3500px;
	margin-top: 100px; 
	margin-bottom: 60px;
	@media screen and (max-width: 560px) {
    background-size: 1000px;
  }
}


.wideBackground {
	background-color: #dbe0c0;
}

.glyphs {
	font-size: 30px;
	text-align: center;
	display: flex;
  justify-content: space-between;
  color: #a29881;
	@media (max-width: 700px){
		font-size: 20px;
	}
}

.FBglyphLinks {
	color: #a29881;
}

.TWglyphLinks {
	color: #a29881;
}

.YTglyphLinks {
	color: #a29881;
}

a.FBglyphLinks:visited,
a.YTglyphLinks:visited, 
a.TWglyphLinks:visited {
	color: #a29881;
}

a.FBglyphLinks:hover {
	color: #3b5998;
}

a.YTglyphLinks:hover {
	color: #990000;
}

a.TWglyphLinks:hover {
	color: #55acee;
}

.aba {
	max-width: 70%;
}

.techpres {
	max-width: 70%;
}

.baltsun {
	max-width: 46%;
	-webkit-filter: invert(100%);
}
.tech {
	max-width: 83%;
}
.wypr {
	max-width: 37%;
}
.abamag {
	max-width: 80%;
}
.njjn {
	max-width: 37%;
}
.hackbalt {
	max-width: 90%;
}

