// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  @font-face {
        font-family: 'Metropolis1920';
        //src: url(/assets/Metropolis1920-Regular.otf) format("truetype");
        src: font-url("Metropolis1920.otf");
        src: font-url("Metropolis1920.otf") format('truetype');
        font-weight: normal;
        font-style: normal;
    }

.black{
    background-color:#000000;
    height:400px;
    color:#FFFFFF;
  }
  
  .grey{
      
      background-color:#5E5E5E;
   height:400px;
  color:#FFFFFF;
    }

body {
   background: #fff !important;
}

	.navbar-nav {
	    //margin: 0 auto;
	    //border-top: 4px solid white; 
	    //border-bottom: 4px solid white;
	    background-image: none;
	    
	    font-family: 'Source Sans Pro', sans-serif; font-weight: bold !important; 
	}

@media ( min-width: 768px ) { 
    .navbar > .container {
        text-align: center;    
    }
    .navbar-header,.navbar-brand,.navbar .navbar-nav,.navbar .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .collapse.navbar-collapse {
        width: auto;
        clear: none;     
    }
}

.nep {
	//position: relative;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif; font-weight: bold !important;
  	font-size: 90px !important;
	text-align: center;
	color: #fff;
	line-height: 110px;
  
	@media (max-width: 563px){
  	font-size: 50px !important;
  	line-height:50px;
  }
  @media (max-width: 361px){
  	font-size: 35px !important;
  }
 
}

.slide1 {
	background-image: image-url("states.jpg");
	// background-repeat: repeat-y;
	background-size: 100%;
	background-attachment: fixed;
	// background-color: #eac634;
	height: 600px;
	
    @media screen and (max-width: 683px) {
    background-size: 1000px;
//  	height: 400px;
    }
	
    @media screen and (max-width: 550px) {
    background-size: 1000px;
	height: 400px;
  }
}


.titletext {
	font-family: 'Source Sans Pro', sans-serif; font-weight: bold !important;
	font-weight: 700;
	font-size: 36px;
	line-height: 28px;
	position: relative; //necessary for partial underline effect
	//color: #988c73;
	color: #000;
}

.paneltext {
	font-family: 'Source Sans Pro', sans-serif; font-weight: 300 !important;
	font-size: 18px;
	color: #30353b;
	line-height: 28px;
	background: #fff;
	text-align: justify;	
}


.slide2 {
	background-image: image-url("painter.jpg");
	background-size: 100%;
	background-attachment: fixed;
	height: 600px;
	
    @media screen and (max-width: 683px) {
    background-size: 1000px;
//  	height: 400px;
    }
	
    @media screen and (max-width: 550px) {
    background-size: 1000px;
	height: 400px;
  }
}

.slide3 {
	height: 400px;
	background-image: url('lightgreen.png');
	background-repeat: repeat;
	font-color: #30353b;
	background-size: 3500px;
	margin-top: 100px; 
	margin-bottom: 60px;
	@media screen and (max-width: 560px) {
    background-size: 1000px;
  }
}


.wideBackground {
	background-color: #dbe0c0;
}


.FBglyphLinks {
	color: #a29881;
}

.TWglyphLinks {
	color: #a29881;
}

.YTglyphLinks {
	color: #a29881;
}

a.FBglyphLinks:visited,
a.YTglyphLinks:visited, 
a.TWglyphLinks:visited {
	color: #a29881;
}

a.FBglyphLinks:hover {
	color: #3b5998;
}

a.YTglyphLinks:hover {
	color: #990000;
}

a.TWglyphLinks:hover {
	color: #55acee;
}

.aba {
	max-width: 80%;
}

.techpres {
	max-width: 80%;
}

.baltsun {
	max-width: 56%;
	-webkit-filter: invert(100%);
}

.huffpo {
	max-width: 56%;
}

.tech {
	max-width: 93%;
}
.wypr {
	max-width: 47%;
}
.abamag {
	max-width: 90%;
}
.njjn {
	max-width: 47%;
}
.openlawlab {
	max-width: 80%;
}
.hackbalt {
	max-width: 100%;
}

.usaStyle {
	max-width: 70%;
	padding-top: 70px
}

.jon {
	max-width: 50%;
	text-align: center;
}

.jason {

}